.todo-list {
  width: 40rem;
  height: auto;
  max-height: 50rem;
  box-shadow: $shadow-light;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
