.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: black;
  box-shadow: $shadow-light;
  font-size: 20px;
  transition: opacity 0.4s ease;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover img {
    opacity: 1;
  }

  img {
    transition: opacity 0.4s ease;
    cursor: pointer;
    opacity: 0.5;
  }
}
